extends layout
block content
    link(rel='stylesheet', href='stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='stylesheets/jquery.tagit.css')
    div
        div
            p Hello #{user.username}
            p Search link
            a(href="/finder") Seach

        div#photo
            img(src='#{user.photo}')

        div#skills
            p User's skills:
            if user.skills
                for object in user.skills
                    for points, skill in object
                        p.userSkill #{skill} - #{points}
        div#skillEditor
            input#tags(type='text')
            button#addTags(type="button") Save skills

        div#hours
            p User's available hours:
            input#addHour(type='button', value='Add date')
            if user.hours
                for hour, day in user.hours
                    for time in hour
                        div.availableHour
                            select
                                option #{day}
                            select
                                option #{time}

        div#hourEditor
            button#saveHours(type="button") Save hours




block script
    script(src='/components/jquery/jquery.min.js')
    script(src='/js/underscore.js')
    script(src='/js/jquery-ui.js')
    script(src='/js/tagit.js')
    :coffeescript
        $.get '/tags', (res) ->
            $('#tags').tagit
                fieldName: 'skill',
                availableTags: res.tags,
                allowSpaces: true,

        days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        hours = ['1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00']
        document.getElementById('addHour').onclick = (e) ->
            newDiv = document.createElement 'div'
            $(newDiv).attr 'class', 'availableHour'
            $('#hours').append newDiv
            newSelect = document.createElement 'select'
            for day in days
                option = new Option()
                option.text = option.value = day
                newSelect.options.add option
            $('.availableHour').last().append newSelect
            newSelect = document.createElement 'select'
            for hour in hours
                option = new Option()
                option.text = option.value = hour + ' AM'
                newSelect.options.add option
            for hour in hours
                option = new Option()
                option.text = option.value = hour + ' PM'
                newSelect.options.add option
            $('.availableHour').last().append newSelect


        document.getElementById('addTags').onclick = (e) ->
            tags = $('.tagit-label').map(->
                $(this).text()
            ).get()

            currentTags = $('.userSkill').map(->
                $(this).text().split('-')[0].replace RegExp(" ", "g"), ""
            ).get()
            tags = _.difference tags, currentTags
            tags = (JSON.parse('{\"' + tag + '\": 5}') for tag in tags)

            if tags.length > 0
                json = {}
                json['skills'] = tags
                $.post '/user/addskill', json, (res) ->
                    if res == 'OK' or res == 200
                        $('.tagit-label').remove() #find better fix
                        tags.forEach (element) ->
                            skill = Object.keys(element)[0]
                            $('#skills').append '<p class=\'userSkill\'>' + skill + ' - ' + element[skill] + '</p>'
            else
                $('.tagit-label').remove()

        document.getElementById('saveHours').onclick = (e) ->
            hours = {}
            for div in $('.availableHour')
                contents = $(div).html()
                day = $(contents).first().children('option').filter(':selected').text()
                hour = $(contents).last().children('option').filter(':selected').text()
                console.log day, hour
                if _.has hours, day
                    console.log 'has it'
                    hours[day].push hour
                    hours[day] = _.uniq hours[day]
                else
                    console.log 'doesnt'
                    hours[day] = [hour]

            json = {}
            json['hours'] = hours
            console.log hours
            $.post '/user/sethours', json, (res) ->
                console.log res
                if res == 'OK' or res == 200
                    alert 'Saved'
